# Frontend configuration
FRONTEND_PORT=8282
FRONTEND_API_URL=http://localhost:8000/api
FRONTEND_BUILD_CONFIGURATION=production

# Backend configuration
BACKEND_PORT=8000
BACKEND_PYTHON_VERSION=3.11-slim
BACKEND_DATABASE_URL=sqlite:////app/data/db.sqlite3
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=please-change-me
DJANGO_MANAGEPY_MIGRATE=1
DJANGO_MANAGEPY_COLLECTSTATIC=1
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=

# Logging
GUNICORN_LOG_LEVEL=info
GUNICORN_TIMEOUT=30

